* {
    font-family: 'Raleway', sans-serif;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url("/img/background-large.jpg");
    background-repeat: repeat;
}

blockquote {
    border-left-color: #ccc !important;
}

hr {
    border-top-color: #ccc !important;
}

nav img {
    width: 64px;
    height: 64px;
    margin-right: 10px;
}

nav h3 {
    vertical-align: middle;
    display: inline-block;
}

nav {
    line-height: 42px;
    vertical-align: middle;
}

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.container {
    background-color: rgba(55, 55, 55, 0.95);
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    margin-bottom: 20px;
}

.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px; /* Make the masthead heading the same height as the navigation */
}

footer {
    color: #e5e5e5;
    line-height: 20px;
}

footer a {
    color: #e5e5e5;
}

footer ul {
    margin-bottom: 5px;
}

footer > span,
footer > ul li {
    margin-top: 5px;
    vertical-align: middle;
}

.content {
    background-color: #eee;
    border-radius: 6px;
    margin-bottom: 30px;
}

.panel-heading {
    line-height: 32px;
}

.panel-title-container {
    vertical-align: middle;
    display: inline-block;
}

.panel-options-container {
    float: right;
}

.panel-options-container * {
    width: auto !important;
    display: inline-block !important;
}

#collapseControls {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}

#collapseControls a {
    margin-right: 5px;
}

.product:hover {
    text-decoration: none;
}

.product img {
    display: inline-block;
    margin: 5px;
    width: 144px;
    height: 144px;
}

@media (max-width: 680px) {
    nav {
        line-height: inherit;
    }

    nav .nav-pills {
        display: block;
        float: none !important;
    }

    .product img {
        max-width: 80px;
        max-height: 80px;
    }

    .panel-heading {
        height: auto;
        line-height: inherit !important;
    }

    .panel-options-container {
        display: block;
        float: none !important;
        margin-top: 10px;
    }
}

.carousel {
    border: 1px solid #286090;
    margin-bottom: 20px;
}

#results .btn,
#submitRequest {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
}

.form-control:not(textarea) {
    display: inline-block !important;
    width: auto !important;
}

textarea {
    min-height: available;
    min-width: 100%;
    max-width: 100%;
}

input {
    max-width: 100%;
}